<div class="show-grid">
  <div class="show-grid-1">

    <div class="indent-box">
      <h1>My Trips</h1>
      <ul style="list-style: none;">
        <% @mytrips.each do |trip| %>
          <li>
            <a href="/trips/<%= trip.id%>"><%= trip.name %></a>  | <%= trip.duration %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="show-grid-2">
    <h1>All trips</h1>
    <ul style="list-style: none;">
      <% @alltrips.each do |trip| %>
        <li>
          <a href="/trips/<%= trip.id%>"><%= trip.name %></a>  | <%= trip.description %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
