<div class="new-trip-box">
<h1>Add a Trip</h1>

<%= form_with(model: Trip.new, local:true) do |f| %>
<br>
<%= f.label "Name: ", class: 'form-label' %>
<%= f.text_field :name %>
<br>
<%= f.label "Description: ", class: 'form-label' %>
<%= f.text_field :description %>
<br>
<%= f.label "Start time", class: 'form-label' %>
<%= f.datetime_select :start_time, :default => Time.now, ampm: true %>
<br>
<%= f.label "End time", class: 'form-label' %>
<%= f.datetime_select :end_time, :default => Time.now, ampm: true %>
<br>
<%= f.submit %>
<% end %>
</div>
