<div class="show-grid">
  <div class="show-grid-1">
    <div class='indent-box'>
      <h1><%= @trip.name %></h1>
      <h3><i><%= @trip.description.capitalize %></i></h3>
      <br>
      <p>This trip begins on <%= @trip.start_time.localtime.strftime("%B %d, %Y %I:%M %p") %></p>
      <p>and it ends on <%= @trip.end_time.localtime.strftime("%B %d, %Y %I:%M %p") %></p>
      <p>Total duration: <%= distance_of_time_in_words(@trip.duration) %></p>
      <br>

        <% if @trip.events.empty? %>
          <p>You don't have any events assigned to this trip yet!</p>
        <% else %>
        <h4>There are currently <%= @trip.events.count %> assigned events:</h4>
          <% @trip.events.each do |event| %>
          <h4><a href="/events/<%=event.id%>"><%=event.name%></a></h4>
          <p>Description: <%= event.description %></p>
          <p>Start time: <%= event.start_time.localtime.strftime("%B %d, %Y %I:%M %p") %></p>
          <p>Duration: <%= distance_of_time_in_words(event.duration.hours) %></p>
        <% if @trip.user_id == current_user.id %>
          <%= link_to 'remove this event', "/trips/#{@trip.id}?eventid=#{event.id}", method: :post %>
        <% end %>
        <br>
      <% end %>
    <% end %>
    <br>
    <% if @trip.user_id == current_user.id %>
      <h3>Add an event to your trip:</h3>
      <%= form_with(model: @trip, local: true) do |f| %>
        <%= f.select :event_ids, options_from_collection_for_select(current_user.events.all, 'id', 'name') %>
        <%= f.submit "Assign"%>
      <% end %>
    <%end%>
    <% if current_user.id == @trip.user_id %>
      <%= link_to 'Edit trip', edit_trip_path(@trip) %>
      |
    <%= link_to 'Delete trip Forever', trip_path(@trip), method: :delete, data: { confirm: 'Are you sure?! No one else will be able to use your cool trip!' } %>
    <% end %>
  </div>

</div>
<% if !@trip.events.empty? %>
  <div class="show-grid-2">
    <div style='width: 600px;'>
      <div id="map" style='width: 600px; height: 400px;'></div>
    </div>
  </div>
<% end %>

</div>
