<h1>Users#show</h1>
<h1> User: <%= @user.fname %> <%= @user.lname %>  </h1>
<h2> <%= @user.fname %>'s events: </h2>
<ul style="list-style: none;">
  <% @user.events.each do |event| %>
      <li>
        <a href="/events/<%= event.id%>"><%= event.name %></a>
      </li>
  <% end %>
</ul>
<h2> <%= @user.fname %>'s trips: </h2>
<ul style="list-style: none;">
  <% @user.trips.each do |trip| %>
      <li>
        <a href="/trips/<%= trip.id%>"><%= trip.name %></a>
      </li>
  <% end %>
</ul>
