<div class="indent-box">
<% if current_user.id == @event.user_id %>
<h2> Update Your Event </h2>
  <%= form_with(model: @event, local:true) do |f| %>
  <br>
  <%= f.label "Name: ", class: 'form-label' %>
  <%= f.text_field :name %>
  <br>
  <%= f.label "Description: ", class: 'form-label' %>
  <%= f.text_field :description %>
  <br>
  <%= f.label "Location: ", class: 'form-label' %>
  <%= f.text_field :location %>
  <br>
  <%= f.label "Start time", class: 'form-label' %>
  <%= f.datetime_select :start_time, :default => Time.now, ampm: true %>
  <br>
  <%= f.label "Duration", class: 'form-label' %>
  <span><%= f.select :duration, (1..10) %> hours</span>
  <%= f.label "Cost", class: 'form-label' %>
  <span>$<%= f.number_field :cost %></span>
  <p><%= f.submit %></p>
  <% end %>
<% else %>
  <h2> Clone this Event and add it to your Trip! </h2>
  <div class="form-wrapper">
  <div class='box two'>
  <%= form_with(model: Event.new, local: true) do |f| %>
  <br>
  <%= f.label "test", class: 'form-label' %>
  <%= f.text_field :name, value: @event.name %>
  <br>
  <%= f.label "Description: ", class: 'form-label' %>
  <%= f.text_field :description, value: @event.description %>
  <br>
  <%= f.label "Location: ", class: 'form-label' %>
  <%= f.text_field :location %>
  <br>
  <%= f.label "Start time", class: 'form-label' %>
  <%= f.datetime_select :start_time %>
  <br>
  <%= f.label "Duration", class: 'form-label' %>
  <span><%= f.select :duration, (1..10) %> hours</span>
  <%= f.label "Cost", class: 'form-label' %>
  <span>$<%= f.number_field :cost %></span>
    <% if current_user.trips.empty? %>
      <p>You have no trips to add this to! But I guess you can clone it for later. </p>
    <% else %>
    <br>
      <%= f.label "Choose Trip", class: 'form-label' %>
      <%= f.select :trip_ids, options_from_collection_for_select(current_user.trips.all, 'id', 'name') %>
      <%= f.hidden_field :event, :value => @event.id%>
    <% end %>
    <br>
    <%= f.submit "Clone Me"%>
  </div>
  <div class='box one'>
  <p>You have trips from: </p>
  <ul style="list-style: none;">
    <% current_user.trips.each do |trip| %>
        <li>
          <a href="/trips/<%= trip.id%>"><%= trip.start_time.localtime.strftime("%B %d, %Y %I:%M %p") %> to <%= trip.end_time.localtime.strftime("%B %d, %Y %I:%M %p") %> </a>
        </li>
    <% end %>
  </ul>
  </div>
  <% end %>
<% end %>

</div>


</div>
