<div class="new-event-box">
<h1> Change Your Event </h1>

  <%= form_with(model: @event, local:true) do |f| %>
  <br>
  <%= f.label "Name: ", class: 'form-label' %>
  <%= f.text_field :name %>
  <br>
  <%= f.label "Description: ", class: 'form-label' %>
  <%= f.text_field :description %>
  <br>
  <%= f.label "Location: ", class: 'form-label' %>
  <%= f.select(:location, $locations) %>
  <br>
  <%= f.label "Start time", class: 'form-label' %>
  <%= f.datetime_select :start_time %>
  <br>
  <%= f.label "End time", class: 'form-label' %>
  <%= f.datetime_select :end_time %>
  <br>
  <%= f.submit %>
  <% end %>
</div>
