<div class="indent-box">
  <h1>All events</h1>
  <button class="button" id="price">Sort By Price</button>
  <button class="button" id="location">Sort By Location</button>
    <% @events.each do |event| %>
          <br>
          <a href="/events/<%= event.id%>"><%= event.name %></a> |
          <span><%= event.location %></span>
          <br>
    <% end %>
</div>

<% @prices = [];%>
<% @events.each do |event|%>
<% @prices.push(event.cost)%>
<% end %>
<% @locations = [];%>
<% @events.each do |event|%>
<% @locations.push(event.location)%>
<% end %>

<%=@prices%>

<%= javascript_tag do %>
var button = document.getElementById('price');

var prices = <%=@prices%>

button.addEventListener('click', function(){
  var sortedPrices = prices.sort(function(a,b){ return a-b})
  console.log(sortedPrices);
});

var button2 = document.getElementById('location');

var locations = "<%=@locations%>"

button2.addEventListener('click', function(){
  var sortedLocals = locations.sort(function(a,b){return a - b})
  console.log(locations)
})
<% end %>
