<div class="show-grid">
  
 <div class="show-grid-1">
  <div class="indent-box">
  <h1>All events</h1>
  <p>Sort by:
    <%= link_to "Cost", events_path(order: 'cost'), class: 'button' %>,
    <%= link_to "Name", events_path(order: 'name'), class: 'button' %>,
    <%= link_to "Location", events_path(order: 'location'), class: 'button' %>,
    <%= link_to "Start Time", events_path(order: 'start_time'), class: 'button' %>,
    <%= link_to "Duration", events_path(order: 'duration'), class: 'button' %>
  </p>
    <% @events.each do |event| %>
          <br>
          <a href="/events/<%= event.id%>"><%= event.name %></a> |
          <span><%= event.description %></span> |
          <span>$<%= event.cost %></span>
          <br>
    <% end %>
  </div>
</div>


  <div class="show-grid-2">
    <div style='width: 600px;'>
      <div id="map" style='width: 600px; height: 400px;'></div>
    </div>
  </div>

  <script>
    handler.getMap().setZoom(0);
  </script>
</div>
