<h1>Events#new</h1>

<%= form_with(model: Event.new, local:true) do |f| %>
<br>
<%= f.label "Name: " %>
<%= f.text_field :name %>
<br>
<%= f.label "Description: " %>
<%= f.text_field :description %>
<br>
<%= f.label "Location: " %>
<%= f.select(:origin,$locations) %>
<br>
<%= f.label "Start time" %>
<%= f.datetime_select :start_time %>
<br>
<%= f.label "End time" %>
<%= f.datetime_select :end_time %>
<br>
<%= f.submit %>
<% end %>
