<div class="new-event-box">
<h1>Add an Event</h1>

<%= Time.now %>

<%= form_with(model: Event.new, local:true) do |f| %>
<br>
<%= f.label "Name: ", class: 'form-label' %>
<%= f.text_field :name %>
<br>
<%= f.label "Description: ", class: 'form-label' %>
<%= f.text_field :description %>
<br>
<%= f.label "Location: ", class: 'form-label' %>
<%= f.select(:location, $locations) %>
<br>
<%= f.label "Start time", class: 'form-label' %>
<%= f.datetime_select :start_time, ampm: true %>
<br>
<%= f.label "Duration", class: 'form-label' %>
<span><%= f.select :duration, (1..10) %> hours</span>
<%= f.label "Cost", class: 'form-label' %>
<span>$<%= f.select :cost, (1..1000), step: 5 %></span>
<p><%= f.submit %></p>
<% end %>
</div>
