<div class='new-event-box'>
<h1> Your Event: <%= @event.name %>  </h1>
<h2> Description: </h2>
<%= @event.description %>
<br>
<h2> Location: </h2>
<%= @event.location %>
<br>
<h2> Start Time: </h2>
<%= @event.start_time.localtime.strftime("%B %d, %Y %I:%M %p") %>
<br>
<h2> End Time: </h2>
<%= @event.end_time.localtime.strftime("%B %d, %Y %I:%M %p") %>
<br>
<h2> Cost: </h2>
<p>$<%= @event.cost %></p>
<h2> Duration: </h2>
<p><%= @event.duration %> hours</p>
<h2>Created By:</h2>
<% @user = User.find_by_id(@event.user_id) %>
<p><%= @user.email %></p>

<% if current_user.id == @event.user_id %>
<%= link_to 'Edit Event', edit_event_path(@event) %>
<%= link_to 'Delete Event Forever', event_path(@event),
        method: :delete,
        data: { confirm: 'Are you sure?! No one else will be able to use your cool event!' } %>
<% end %>

<% if !current_user.trips.empty? %>

<h3>You're in town at the same time?! Do you want to go!?</h3>
  <%= form_with(model: @trip, local: true) do |f| %>
  <%= f.select :trip_ids, options_from_collection_for_select(current_user.trips.all, 'id', 'name') %>
  <%= f.hidden_field :event, :value => @event.id%>
  <%= f.submit "Go to this event!"%>
  <% end %>

<% end %>
<br>

<p>Want to do this exact thing at a later date? Clone the event below, and add it to your trip! </p>
<%= link_to 'Yes, do it.', edit_event_path(@event) %>

</div>
