<h1>Events#show</h1>
<p>Find me in app/views/events/show.html.erb</p>

<%= @event.name %>
<br>
<%= @event.description %>
<br>
<%= @event.location %>
<br>
<%= @event.start_time %>
<br>
<%= @event.end_time %>
<br>
