<!DOCTYPE html>
<html>
  <head>
    <title>Cal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

    <div id="map">
      <%=
        map(:center => {
          :latlng => [51.52238797921441, -0.08366235665359283],
          :zoom => 18
        })
      %>
    </div>
  </body>
</html>
