<!DOCTYPE html>
<html>
  <head>
    <title>Trippin</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar">
    <div>
      <%= image_tag("logo_small_black.png", :alt => "logo") %>
    </div>

    <% if user_signed_in? %>

    <div class="navlinks">
      Logged in as:
      <%= current_user.email %>
        <br>

        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
        |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
        |
        <%= link_to "Back", "/" %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %>
        |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link' %>
      </div>

    <% end %>
  </nav>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
